<section class="section">
  <div class="container">
    <div class="columns">

        <div *ngFor="let tempProduct of products" class="column has-text-centered is-family-code">

          <div class="product-box">

            <a routerLink="/products/{{ tempProduct.id }}">
              <img src="{{ tempProduct.imageUrl }}" class="img-responsive mb-3" alt="product image">
            </a>

            <a routerLink="/products/{{ tempProduct.id }}">
              <h1 class="is-size-5 title mb-3">{{ tempProduct.name }}</h1>
            </a>

            <div class="is-size-6" id="price">{{ tempProduct.unitPrice | currency: 'USD' }}</div>
          </div>

        </div>

        <article *ngIf="products?.length == 0" class="message">
          <div class="message-header is-family-code">
            <p>Hey!</p>
          </div>
          <div class="message-body is-family-code">No Products Found with this keyword.</div>
        </article>

    </div>

    <nav class="pagination is-rounded is-small" role="navigation" aria-label="pagination">
      <a class="pagination-previous is-disabled" id="previousBtn" title="This is the first page">Previous</a>
      <a class="pagination-next" id="nextBtn">Next page</a>
      <ul class="pagination-list">
        <li>
          <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 2">2</a>
        </li>
        <li>
          <a class="pagination-link" aria-label="Goto page 3">3</a>
        </li>
      </ul>
    </nav>
  </div>
</section>


