<section class="section">
  <div class="container">
    <div class="columns">

        <div *ngFor="let tempProduct of products" class="column has-text-centered is-family-code">

          <div class="product-box">

            <a routerLink="/products/{{ tempProduct.id }}">
              <img src="{{ tempProduct.imageUrl }}" class="img-responsive mb-3" alt="product image">
            </a>

            <a routerLink="/products/{{ tempProduct.id }}">
              <h1 class="is-size-5 title mb-3">{{ tempProduct.name }}</h1>
            </a>

            <div class="is-size-6" id="price">{{ tempProduct.unitPrice | currency: 'USD' }}</div>
          </div>

        </div>

        <article *ngIf="products?.length == 0" class="message">
          <div class="message-header is-family-code">
            <p>Hey!</p>
          </div>
          <div class="message-body is-family-code">No Products Found with this keyword.</div>
        </article>



    </div>

    <div class="section">
      <div class="container">
        <nav class="pagination" role="navigation" aria-label="pagination">
          <a href="/" class="pagination-previous">Previous</a>
          <a href="/" class="pagination-next">Next</a>
        </nav>
      </div>
    </div>

  </div>
</section>


