<div class="field">
  <form [formGroup]="checkoutFormGroup">

    <!-- Customer -->
    <section class="section is-small">
      <div formGroupName="customer">
        <h3>Customer</h3>

        <div class="field">
          <label class="label">First Name</label>
          <div class="control">
            <input type="text" class="input is-rounded" formControlName="firstName">
            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                First Name is required.
              </div>

              <div *ngIf="firstName?.errors?.['minlength']">
                First Name must be at least 2 characters long.
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Last Name</label>
          <div class="control">
            <input type="text" class="input is-rounded" formControlName="lastName">
            <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="lastName?.errors?.['required'] || lastName?.errors?.['notOnlyWhitespace']">
                Last Name is required.
              </div>

              <div *ngIf="lastName?.errors?.['minlength']">
                Last Name must be at least 2 characters long.
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input type="text" class="input is-rounded" formControlName="email">
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="email?.errors?.['required'] || email?.errors?.['notOnlyWhitespace']">
                Email is required.
              </div>

              <div *ngIf="email?.errors?.['minlength']">
                Email must be at least 2 characters long.
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Shipping Address -->
    <section class="section is-small">
      <div formGroupName="shippingAddress">
        <h3>Shipping Address</h3>

        <div class="field">
          <label class="label">Country</label>
          <div class="control">
            <div class="select is-rounded">
              <select formControlName="country" (change)="getStates('shippingAddress')">
                <option *ngFor="let country of countries" [ngValue]="country">
                  {{ country.name }}
                </option>
              </select>
            </div>

            <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="shippingAddressCountry?.errors?.['required']">
                Country is required.
              </div>

            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Street</label>
          <div class="control">
            <input formControlName="street" type="text" class="input is-rounded">
            <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace'] ">
                Street is required.
              </div>

              <div *ngIf="shippingAddressStreet?.errors?.['minlength']">
                Street must be at least 2 characters long.
              </div>

            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">City</label>
          <div class="control">
            <input type="text" class="input is-rounded" formControlName="city">
            <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace'] ">
                City is required.
              </div>

              <div *ngIf="shippingAddressCity?.errors?.['minlength']">
                City must be at least 2 characters long.
              </div>

            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">State</label>
          <div class="control">
            <div class="select is-rounded">
              <select formControlName="state">
                <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                  {{ state.name }}
                </option>
              </select>
            </div>

            <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="shippingAddressState?.errors?.['required']">
                State is required.
              </div>

            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Zip Code</label>
          <div class="control">
            <input type="text" class="input is-rounded" formControlName="zipCode">
            <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="shippingAddressZipCode?.errors?.['required'] || shippingAddressZipCode?.errors?.['notOnlyWhitespace'] ">
                Zip Code is required.
              </div>

              <div *ngIf="shippingAddressZipCode?.errors?.['minlength']">
                Zip Code must be at least 2 characters long.
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Add check box to copy shipping to billing -->
    <section class="section is-small">
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAdress($event)">
            <strong>Billing Address same as Shipping Address</strong>
          </label>
        </div>
      </div>
    </section>

    <!-- billing address -->
    <section class="section is-small">
      <div formGroupName="billingAddress">
        <h3>Billing Address</h3>

        <div class="field">
          <label class="label">Country</label>
          <div class="control">
            <div class="select is-rounded">
              <select formControlName="country" (change)="getStates('shippingAddress')">
                <option *ngFor="let country of countries" [ngValue]="country">
                  {{ country.name }}
                </option>
              </select>
            </div>

            <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="billingAddressCountry?.errors?.['required']">
                Country is required.
              </div>

            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Street</label>
          <div class="control">
            <input formControlName="street" type="text" class="input is-rounded">
            <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace'] ">
                Street is required.
              </div>

              <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                Street must be at least 2 characters long.
              </div>

            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">City</label>
          <div class="control">
            <input type="text" class="input is-rounded" formControlName="city">
            <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace'] ">
                City is required.
              </div>

              <div *ngIf="billingAddressCity?.errors?.['minlength']">
                City must be at least 2 characters long.
              </div>

            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">State</label>
          <div class="control">
            <div class="select is-rounded">
              <select formControlName="state">
                <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                  {{ state.name }}
                </option>
              </select>
            </div>

            <div *ngIf="billingAddressState?.invalid && (billingAddressState?.dirty || billingAddressState?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="billingAddressState?.errors?.['required']">
                State is required.
              </div>

            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Zip Code</label>
          <div class="control">
            <input type="text" class="input is-rounded" formControlName="zipCode">
            <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)" class="alert alert-danger mt-1">

              <div *ngIf="billingAddressZipCode?.errors?.['required'] || billingAddressZipCode?.errors?.['notOnlyWhitespace'] ">
                Zip Code is required.
              </div>

              <div *ngIf="billingAddressZipCode?.errors?.['minlength']">
                Zip Code must be at least 2 characters long.
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>

  </form>
</div>



<div class="field">
  <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
      <!-- Credit Card -->

      <!-- Stripe Elements Credit Card Section -->
      <section class="section is-small">
        <div formGroupName="creditCard" class="field">

          <h3>Credit or Debit Card</h3>

          <div id="card-element">
            <!-- a Stripe element will be inserted here -->
          </div>

          <!-- Used to display form errors -->
          <div id="card-errors" class="displayError.textContent!=='': 'alert alert-danger mt-1'"></div>

        </div>
      </section>

      <!-- Order details -->
      <section class="section is-small">
        <div class="field has-text-centered is-family-code">
          <h3>Review Your Order</h3>
          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
        </div>
      </section>

      <!-- submit button -->
      <section class="section is-small">
        <div class="text-center">
          <button type="submit" class="btn btn-info" [disabled]="isDisabled">Purchase</button>
        </div>
      </section>

  </form>
</div>
